.absolute-frame {
  @apply absolute top-0 right-0 bottom-0 left-0;
}

@responsive {
  .left-1\/2 {
    left: 50%;
  }
}

@responsive {
  .card-offset {
    margin-left: 12%;
  }
}

@responsive {
  .min-w-1\/2 {
    min-width: 50%;
  }
}

.max-h-20 {
  max-height: 5rem;
}

@responsive {
  .song-card-list .song-card {
    flex: 1 0 calc(50% - 1rem);
    margin-right: 0.5rem;
  }
}
